@import url('https://fonts.googleapis.com/css2?family=Arimo:ital,wght@0,400..700;1,400..700&display=swap');

.a-heading
{  color: black;
    text-align: center;
    font-size: 50px;
    font-family: "Arimo", sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
    background-color: rgb(239, 229, 240);
}

.a-main
{
   
  display: flex;
  flex-direction: row;
 
  padding:10px;
  height:80%;
  width: 100%;

}
.a-img
{
  border-radius: 10px;
  padding: 30px;
  width: 100%;
}
.a-img:hover{

  transform: scale(1.080);
  overflow: hidden;
  transition: 1s;
  background-color: rgb(239, 229, 240);
}
.a-text
{
  text-align: center;
  font-size: 20px;
  padding: 50px;
  font-family: "Arimo", sans-serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;

 border-radius: 50%;
 
}
.a-text:hover{

  background-color: rgb(239, 229, 240);
  transition: 1s;
}