
@import url('https://fonts.googleapis.com/css2?family=Arimo:ital,wght@0,400..700;1,400..700&display=swap');
.c-main
{
  border: 2px solid gray;
  display: flex;
  flex-direction: row;
  padding: 10px;
  height: 600px;
  margin: 20px;
  background-image: url('./../icon/contactus2.jpg');
    background-repeat: no-repeat;
  
    background-size: cover;
 
}
@media screen and (max-width:768px)
  {
    .c-main
  {
    display: flex;
    flex-direction: column;
    margin-bottom: 1000px;
    
  }
}
@media screen and (max-width:768px)
  {
    .map
  {
    display: block;
    margin: auto;
    margin-bottom: 100%;
    width: 100%;
  }
}
.c-heading{
  color: black;
  text-align: left;
  font-size: 50px;
  font-family: "Arimo", sans-serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
  padding-left: 150px;
}
.c-text
{
  text-align: left;
  font-family: "Arimo", sans-serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
  font-size: 20px;
  padding-left: 170px;
  padding-top: 120px;
}

.c-img
{
  height: 100px;
  width: 100px;
padding: 20px;
}
@media screen and (max-width:768px)
  {
    .c-img
  {
 
    margin: auto;
   
  }
}