
   /* navbar */

   .nav-text
   {
    font-size: 20px;
   padding: 2px;
  
   }

   .nav-link {
    font-size: 20px;
    font-family: 'Montserrat', sans-serif;
   
  }
  .nav-link:hover {
      color:orange;
      border: 1px solid #ffab19;
      border-radius: 10px;
      padding: 1px;
  }
  .logo {
      height: 50px;
  }

  .login-img {
      height: 30px;
  }

/* sliding images */
.heading
{

 text-align: center;
}

.moving-img-container
{
  
    max-width: 100%;

    position: relative;
    margin: auto;
    margin-bottom: 20px;
    
}
@media screen and (max-width:768px)
  {
    .moving-img-container
  {
        height: 100%;
        width: 100%;
  }
}
.moving-img
{
    height:100%;
    width: 80%;
    border-radius: 10px;
    box-shadow: 0  0 5px 1px #f87878;
}
@media screen and (max-width:768px)
  {
    .moving-img
  {
   
  }
}
.moving-img:hover
{
    
}


