
   /* navbar */

   .nav-text
   {
    color: white;
    font-size: 20px;
   padding: 2px;
  
   }

   .nav-link {
    font-size: 20px;
    font-family: 'Montserrat', sans-serif;
   
  }
  .nav-link:hover {
      color:orange;
      border: 1px solid #ffab19;
      border-radius: 10px;
      padding: 1px;
  }
  .logo {
      height: 50px;
  }

  .login-img {
      height: 30px;
  }

  /* main img */

  .main-img
  {
    padding: 10px;
    height: 600px;
    margin: 20px;
  }
/* sliding images */
.heading
{

 text-align: center;
}

.moving-img-container
{
  
    max-width: 100%;
    padding-top: 20px;
    position: relative;
    margin: auto;
    margin-bottom: 20px;
   
    
}
@media screen and (max-width:768px)
  {
    .moving-img-container
  {
        height: 100%;
        width: 100%;
  }
}
.moving-img
{
  border: 5px solid green;
    height:100%;
    width: 80%;

    
   
}
@media screen and (max-width:768px)
  {
    .moving-img
  {
   
  }
}
.moving-img:hover
{
    
}













.activity-name {
  text-align: center;
  margin: 5px auto;
  font-size: 15px;
}
.box {
  height: 150px;
  width: 150px;
  border-radius: 20px;
  box-shadow: 0 0 5px 1px #a4a4a4;
  background-color:white;
}

.box:hover {
  transform: scale(1.080);
  box-shadow: 0 0 5px 1px green;
  overflow: hidden;
  transition: 1s;
}

.activity-icons {
  display: block;
  height: 100px;
  margin: 10px auto;

  
}












