
  
  /* main img */

  .main-img
  {
    padding: 10px;
    height: 600px;
    margin: 20px;
  }
/* sliding images */
.heading
{

 text-align: center;
}

.moving-img-container
{
  
    max-width: 100%;
    padding-top: 20px;
    position: relative;
    margin: auto;
    margin-bottom: 20px;
   
    
}
@media screen and (max-width:768px)
  {
    .moving-img-container
  {
        height: 100%;
        width: 100%;
  }
}
.moving-img
{
  border: 2px solid green;
    height:100%;
    width: 80%;

    
   
}
@media screen and (max-width:768px)
  {
    .moving-img
  {
   
  }
}
.moving-img:hover
{
    
}












/* main */
.activity-name {
  text-align: center;
  margin: 5px auto;
  font-size: 15px;
  font-weight: bold;
}
.box {
  height: 150px;
  width: 150px;
  border-radius: 20px;
  box-shadow: 0 0 5px 1px #a4a4a4;
  background-color:white;
}

.box:hover {
  transform: scale(1.080);
  box-shadow: 0 0 5px 1px green;
  overflow: hidden;
  transition: 1s;
}

.activity-icons {
  display: block;
  height: 100px;
  margin: 10px auto;

  
}
/* product cards */
.index-product-cards
{
  height: 250px;
  width: 200px;
  border-radius: 10px;
  box-shadow: 0 0 5px 1px #a4a4a4;
 
}
.index-product-cards-img
{
  display: block;
  height: 170px;
  margin: 10px auto;
}
.index-product-cards-text
{
  text-align: center;
  margin: 5px auto;
  font-size: 15px;
  font-weight: bold;
}
.index-product-cards:hover {
  transform: scale(1.080);
  box-shadow: 0 0 5px 1px green;
  overflow: hidden;
  transition: 1s;
}

/* sample */
.sample-product-cards
{
  height: 450px;
  width: 300px;
  border-radius: 10px;
  box-shadow: 0 0 5px 1px #a4a4a4;
}
.sample-product-cards-img
{
  display: block;
  height: 200px;
  margin: 10px auto;
}










