
.product-cardb
{
  width:300px;
  height: 550px;
  

}
.product-cardb:hover
{
  transform: translateY(-10px);
        transition: .5s;

}

.product-img
{
    border-bottom: 2px solid rgb(213, 204, 186);
    height: 300px;
}

.card-body
{
  margin: 5px;
}
.product-info
{
  text-align: justify;
  font-size: 17px;
}

/* .btn-container
{
 display: flex;
 justify-content: center;
 align-items: center;
 
} */





.btnb
{
  border: 1px solid gray;
  border-radius: 50px;
  color: black;
  padding: 4px 15px 4px 15px;
  display: block;
  margin: auto;

}
.btnb:hover
{
  box-shadow: 0px 0px 2px 2px rgb(151, 239, 189) ;
  border-radius: 50px;
  color: black;
}