@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Montserrat:wght@200;500&display=swap');


body{
   /* background-color: #D9AFD9;
background-image: linear-gradient(0deg, #D9AFD9 0%, #97D9E1 100%);*/
font-family: /*Arial, sans-serif*/'Montserrat', sans-serif;
background-color: #fff;
min-height: 100vh;
margin: 0;
padding: 0;
}
.r-card {
 /* background: linear-gradient(90deg, #e3ffe7 0%, #d9e7ff 100%);*/

  width: 400px;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin: 0 auto;
  text-align: center;
  margin-top: 70px;
 transition: 1s;
 box-shadow: 0 0 5px 1px #a4a4a4;
 background-color: #85FFBD;
background-image: linear-gradient(45deg, #85FFBD 0%, #FFFB7D 100%);
margin-bottom: 40px;

}
.r-card:hover
{
  transform: scale(1.080);
  box-shadow: 0 0 5px 1px green;
  overflow: hidden;
  transition: 1s;
}
.submit-button {
  margin-bottom: 20px;
  
}

#submitBtn {
  background-color: /*plum;*/#f87878;
  color:rgb(255, 210, 126);
  border: 2px solid rgb(255, 210, 126);
  padding: 5px 30px;
  border-radius: 20px;
  cursor: pointer;
  margin: 20px;
  font-size: 20px;

}

 #submitBtn:hover {
  transform: scale(1.080);
    box-shadow: 0 0 5px 1px rgb(255, 210, 126);
    transform: scale(1.080);

  overflow: hidden;
  transition: 1s;

 /* background-color: #0056b3;*/
}

textarea {
  background-color: /*lightblue;*/#fff;
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-bottom: 20px;
}

/* Popup */
.popup {
  display: none;
}
 
.container{

  display:flex;
  height: 50%;
  width: 80%;
  margin-left: 130px;
  margin-top: 30px;
  
}

.heading{
  text-align: center;
  margin-top: 80px;
  margin-bottom: 30px;
}




  /* Responsive adjustments */
      .r-card{
        width:400px;
    }
    h1{
        font-size: 25px;
    }
    p{
      font-size: 15px;
    }
    textarea{
      margin-top: 50px;
      width:100%;
      height: 200px;
     
    }
    .submit-button{
      margin-right: 20px;
    }
    .container{
      display: flex;
      flex-direction: column;
      margin-left: 30px;
    }