


/* theme */
  @import url('https://fonts.googleapis.com/css2?family=Lobster&family=Oswald:wght@200..700&family=Pacifico&display=swap');
       
        .theme{
            height: 30px;
            width: 30px;
            cursor: pointer;
            padding: 5px;
            border-radius: 5px;
            background-color: white;
        }

        .active{
           
            background-color:white;

        }
       
         .body-dark{

            background-color: rgb(16, 15, 15);
            color: white;
            
         }

         .body-light{

         background-color:white;
          color: black;
}
        
       .icon-position
       {
       margin-left: 10px;
       margin-right: 10px;
       }